# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Android
**/android/**/local.properties
**/android/.gradle/
**/android/captures/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Misc
*.log
.DS_Store

# Fichiers temporaires generes pour les imports produits et les apercus.
outputs/
tmp_template/
